@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    background-color: #1c1d25;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.content-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.card {
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.card:hover {
    box-shadow: 10px 10px white;
}

.card a {
    color: white;
    text-decoration: none;
}

.card span, .card a span {
    display: inline-block;
}

.card img, .card a img {
    width: 100px;
    display: inline-block;
    float: right;
    margin-top: 10px;
}