@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    background-color: #1c1d25;
    color: white;
    font-family: 'Nunito', sans-serif;
}

.content-container {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.product-card-container {
    display: flex;
}

.card {
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-right: 40px;
    width: 300px;
    text-align: center;
}

.card:hover {
    box-shadow: 10px 10px white;
}

.card span {
    width: 10px;
}

.card img {
    width: 150px;
    display: inline-block;
    float: none;
    margin-top: 10px;
}